.chatOnlineContainer{
    margin-top: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chatOnlineFriend{
    display: flex;
    align-items: center;
    cursor: pointer;

}

.chatOnlineAvatarContainer{
    position: relative;
    margin-top: 12px;
}

.chatOnlineAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.chatOnlineBadge{
    top: 35px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
}

.chatOnlineName{
    margin-left: 10px;
    font-weight: 800;
}